// 主色调
$primary-color: var(--cq-primary-color, #fa2c19) !default;
$primary-color-end: var(--cq-primary-color-end, #fa6419) !default;
// 辅助色
$help-color: var(--cq-help-color, #f5f5f5) !default;
// 标题常规文字
$title-color: var(--cq-title-color, #1a1a1a) !default;
// 副标题
$title-color2: var(--cq-title-color2, #666666) !default;
// 次内容
$text-color: var(--cq-text-color, #808080) !default;
// 特殊禁用色
$disable-color: var(--cq-disable-color, #cccccc) !default;
$white: var(--cq-white, #fff) !default;
$black: var(--cq-black, #000) !default;
$required-color: var(--cq-required-color, #fa2c19) !default;

$font-family: var(
  --cq-font-family,
  PingFang SC,
  Microsoft YaHei,
  Helvetica,
  Hiragino Sans GB,
  SimSun,
  sans-serif
) !default;

// ---- Animation ----
$animation-duration: var(--cq-animation-duration, 0.25s) !default;
$animation-timing-fun: var(--cq-animation-timing-fun, cubic-bezier(0.55, 0.085, 0.68, 0.53)) !default;

// 字体
$font-size-0: var(--cq-font-size-0, 10px) !default;
$font-size-1: var(--cq-font-size-1, 12px) !default;
$font-size-2: var(--cq-font-size-2, 14px) !default;
$font-size-3: var(--cq-font-size-3, 16px) !default;
$font-size-4: var(--cq-font-size-4, 18px) !default;
$font-weight-bold: var(--cq-font-weight-bold, 400) !default;
$font-size-small: var(--cq-font-size-small, $font-size-1) !default;
$font-size-base: var(--cq-font-size-base, $font-size-2) !default;
$font-size-large: var(--cq-font-size-large, $font-size-3) !default;
$line-height-base: var(--cq-line-height-base, 1.5) !default;

// button
$button-border-radius: var(--cq-button-border-radius, 25px) !default;
$button-border-width: var(--cq-button-border-width, 1px) !default;
$button-default-bg-color: var(--cq-button-default-bg-color, $white) !default;
$button-default-border-color: var(--cq-button-default-border-color, rgba(204, 204, 204, 1)) !default;
$button-default-color: var(--cq-button-default-color, rgba(102, 102, 102, 1)) !default;
$button-default-padding: var(--cq-button-default-padding, 0 18px) !default;
$button-mini-padding: var(--cq-button-mini-padding, 0 12px) !default;
$button-small-padding: var(--cq-button-small-padding, 0 12px) !default;
$button-small-height: var(--cq-button-small-height, 28px) !default;
$button-mini-height: var(--cq-button-mini-height, 24px) !default;
$button-default-height: var(--cq-button-default-height, 38px) !default;
$button-large-height: var(--cq-button-large-height, 48px) !default;
$button-large-line-height: var(--cq-button-large-line-height, 46px) !default;
$button-small-line-height: var(--cq-button-small-line-height, 26px) !default;
$button-block-height: var(--cq-button-block-height, 48px) !default;
$button-default-line-height: var(--cq-button-default-line-height, 36px) !default;
$button-block-line-height: var(--cq-button-block-line-height, 46px) !default;
$button-default-font-size: var(--cq-button-default-font-size, $font-size-2) !default;
$button-large-font-size: var(--cq-button-large-font-size, $button-default-font-size) !default;
$button-small-font-size: var(--cq-button-small-font-size, $font-size-1) !default;
$button-mini-font-size: var(--cq-button-mini-font-size, $font-size-1) !default;
$button-mini-line-height: var(--cq-button-mini-line-height, 1.2) !default;
$button-disabled-opacity: var(--cq-button-disabled-opacity, 0.68) !default;
$button-primary-color: var(--cq-button-primary-color, $white) !default;
$button-primary-border-color: var(--cq-button-primary-border-color, $primary-color) !default;
$button-primary-background-color: var(
  --cq-button-primary-background-color,
  linear-gradient(135deg, var(--cq-primary-color, $primary-color) 0%, var(--cq-primary-color, $primary-color) 100%)
) !default;
$button-info-color: var(--cq-button-info-color, $white) !default;
$button-info-border-color: var(--cq-button-info-border-color, rgba(73, 106, 242, 1)) !default;
$button-info-background-color: var(
  --cq-button-info-background-color,
  linear-gradient(315deg, rgba(73, 143, 242, 1) 0%, rgba(73, 101, 242, 1) 100%)
) !default;
$button-success-color: var(--cq-button-success-color, $white) !default;
$button-success-border-color: var(--cq-button-success-border-color, rgba(38, 191, 38, 1)) !default;
$button-success-background-color: var(
  --cq-button-success-background-color,
  linear-gradient(
    135deg,
    rgba(38, 191, 38, 1) 0%,
    rgba(39, 197, 48, 1) 45%,
    rgba(40, 207, 63, 1) 83%,
    rgba(41, 212, 70, 1) 100%
  )
) !default;

$button-danger-color: var(--cq-button-danger-color, $white) !default;
$button-danger-border-color: var(--cq-button-danger-border-color, rgba(250, 44, 25, 1)) !default;
$button-danger-background-color: var(--cq-button-danger-background-color, rgba(250, 44, 25, 1)) !default;
$button-warning-color: var(--cq-button-warning-color, $white) !default;
$button-warning-border-color: var(--cq-button-warning-border-color, rgba(255, 158, 13, 1)) !default;
$button-warning-background-color: var(
  --cq-button-warning-background-color,
  linear-gradient(
    135deg,
    rgba(255, 158, 13, 1) 0%,
    rgba(255, 167, 13, 1) 45%,
    rgba(255, 182, 13, 1) 83%,
    rgba(255, 190, 13, 1) 100%
  )
) !default;
$button-plain-background-color: var(--cq-button-plain-background-color, $white) !default;
$button-small-round-border-radius: var(--cq-button-small-round-border-radius, $button-border-radius) !default;

// Space
$space-gap: var(--cq-space-gap, 8px) !default;

@import './mixins/index';
